<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qwanto Quartz</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css'>
<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>



<div class="header">
  <a class="menu-icon" href="#">
    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
    </svg>
  </a>
  <img class="logo" src="https://www.qwantoquartz.com/wp-content/uploads/2021/08/logo.png" />
  <div class="header-menu">
    <a href="/product">Products</a>
    <a href="/">Gallery</a>
    <a href="/login">Login</a>
    <a href="mailto:realnikhileshrana@gmail.com">Contact</a>
  </div>
  <div class="header-icons">
    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path d="M437.02 330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521 243.251 404 198.548 404 148 404 66.393 337.607 0 256 0S108 66.393 108 148c0 50.548 25.479 95.251 64.262 121.962-36.21 12.495-69.398 33.136-97.281 61.018C26.629 379.333 0 443.62 0 512h40c0-119.103 96.897-216 216-216s216 96.897 216 216h40c0-68.38-26.629-132.667-74.98-181.02zM256 256c-59.551 0-108-48.448-108-108S196.449 40 256 40s108 48.448 108 108-48.449 108-108 108z" />
    </svg>
  </div>
</div>



<div class="container">
	<div class="mySwiper">
		<div class="main-wrapper swiper-wrapper">








			<div class="main swiper-slide" id="beach">
				<div class="left-side">
					<div class="main-wrapper">
						<h3 class="main-header">Qwanto Quartz</h3>
						<h1 class="main-title">Harmony Fusion</h1>
						<h2 class="main-subtitle">$899</h2>
					</div>
					<div class="main-content">
						<div class="main-content__title">Unifying Elegance in Quartz Slab Design</div>
						<div class="main-content__subtitle">In the heart of Jaipur, artisans craft a masterpiece of design and sophistication - Harmony Fusion quartz slab. <br> This extraordinary creation blends the rich golden tones of opulence with the sleek modernity of deep black, all while embracing the serene elegance of shades of blue. <br> Each slab tells a story of harmony, where contrasting elements come together in perfect unity, creating a symphony of color that elevates any space. <br> With its versatile application and captivating aesthetic, Harmony Fusion embodies the essence of unifying elegance,  making it the perfect choice for those who seek to infuse their surroundings with beauty and sophistication.
            </div>
						<div class="more-menu">
							Shop Now
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<line x1="-5" y1="12" x2="19" y2="12" />
								<line x1="15" y1="16" x2="19" y2="12" />
								<line x1="15" y1="8" x2="19" y2="12" />
							</svg>
						</div>
					</div>
				</div>
				<div class="center">
					<div class="right-side__img">
						<img class="bottle-bg" src="/images/5.jpg" alt="1">
						<img class="bottle-img" src="/images/6.png" alt="2" />
					</div>
				</div>
			</div>












			<div class="main swiper-slide" id="savanna">
				<div class="left-side">
					<div class="main-wrapper">
						<h3 class="main-header">Qwanto Quartz</h3>
						<h1 class="main-title">Spaces X Quartz</h1>
						<h2 class="main-subtitle">$599</h2>
					</div>
					<div class="main-content">
						<div class="main-content__title"> A Durable and Elegant Choice for Interior Design
						</div>
						<div class="main-content__subtitle">Quartz slabs are engineered stone surfaces made primarily of natural quartz crystals combined with resins and pigments. This composition results in a highly durable material that is resistant to scratches, stains, and heat, making it ideal for high-traffic areas like kitchens and bathrooms. <br> Unlike natural stone, quartz slabs are non-porous, which means they do not require sealing and are resistant to bacteria and mold growth. Cleaning quartz countertops is easy with mild soap and water, making them a low-maintenance option for busy households. <br> While quartz slabs may have a higher upfront cost compared to other materials, their durability and longevity make them a worthwhile investment in the long run. </div>
						<div class="more-menu">
							Shop Now
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<line x1="-5" y1="12" x2="19" y2="12" />
								<line x1="15" y1="16" x2="19" y2="12" />
								<line x1="15" y1="8" x2="19" y2="12" />
							</svg>
						</div>
					</div>
				</div>
				<div class="center">
					<div class="right-side__img">
						<img class="bottle-bg" src="/images/1.png" alt="1">
						<img class="bottle-img" src="/images/2.png" alt="2" />
					</div>
				</div>
			</div>














			<div class="main swiper-slide" id="glacier">
				<div class="left-side">
					<div class="main-wrapper">
						<h3 class="main-header">Qwanto Quartz</h3>
						<h1 class="main-title">Elevate Glacier</h1>
						<h2 class="main-subtitle">$499</h2>
					</div>
					<div class="main-content">
						<div class="main-content__title">Glaciers Saga Quartz Slabs for Timeless Elegance.
						</div>
						<div class="main-content__subtitle">Engineered with a blend of natural quartz crystals and high-quality resins, quartz slabs boast exceptional strength and durability.  <br> Whether used as kitchen countertops, bathroom vanities, or feature walls, quartz slabs offer seamless integration into any design scheme. Their versatile nature allows for custom fabrication to fit specific dimensions and requirements, creating a cohesive and polished look throughout the space. <br>  While quartz slabs may require a higher initial investment than some other materials, their exceptional durability and timeless beauty make them a valuable long-term investment. With proper care and maintenance.</div>
						<div class="more-menu">
							Shop Now
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<line x1="-5" y1="12" x2="19" y2="12" />
								<line x1="15" y1="16" x2="19" y2="12" />
								<line x1="15" y1="8" x2="19" y2="12" />
							</svg>
						</div>
					</div>
				</div>
				<div class="center">
					<div class="right-side__img">
						<img class="bottle-bg" src="/images/4.jpg" alt="">
						<img class="bottle-img" src="/images/3.png" />
					</div>
				</div>
			</div>









      
			<div class="main swiper-slide" id="coral">
				<div class="left-side">
					<div class="main-wrapper">
						<h3 class="main-header">Qwanto Quartz</h3>
						<h1 class="main-title">Pink Quartz</h1>
						<h2 class="main-subtitle">$699</h2>
					</div>
					<div class="main-content">
						<div class="main-content__title">Pink Quartz With Backlit Imulsion
						</div>
						<div class="main-content__subtitle">Pink Quartz With Backlit is a stunning semi-precious stone that adds an exquisite touch to any space.
<br>
              Crafted from the finest quality pink quartz, this radiant gemstone exudes elegance and serenity with a delicate blush hue. Each piece is carefully selected and expertly cut to highlight the stone’s natural beauty.
              <br>
              When illuminated from behind, the quartz creates a captivating and ethereal ambiance, making it a statement of refined taste and sophistication.</div>
						<div class="more-menu">
							Shop Now
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<line x1="-5" y1="12" x2="19" y2="12" />
								<line x1="15" y1="16" x2="19" y2="12" />
								<line x1="15" y1="8" x2="19" y2="12" />
							</svg>
						</div>
					</div>
				</div>
				<div class="center">
					<div class="right-side__img">
						<img class="bottle-bg" src="/images/7.webp" alt="">
						<img class="bottle-img" src="/images/8.png" />
					</div>
				</div>
			</div>









		</div>
	</div>
	<div class="button-wrapper">
		<div class="swiper-button swiper-prev-button">
			<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
			</svg>
		</div>
		<div class="swiper-button swiper-next-button">
			<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
			</svg>
		</div>
	</div>
	<div class="swiper-pagination"></div>



  <div style="height: 200px;">This is a Development Preview for the Qwanto Quartz- Sunex Stones. Build by <a style="text-decoration: underline;" href="https://nikhileshrana.tech">Nikhilesh Rana</a></div>
</div>



<video src="/images/loopvdo.mp4" alt="login image" class="login__img" autoplay muted playsinline loop></video>



<!-- partial -->

  <script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script>
  <script  src="/javascripts/script.js"></script>

</body>
</html>
